title: Too Many Containers
---
<h1>Too Many Containers</h1>
<p>You have too many containers running, you have to close some to start a new one</p>

<div id="msgs">
</div>

<script type="text/javascript">
 function deleteContainer(cName) {
   const xhttp = new XMLHttpRequest();
   xhttp.responseType = 'json'
   xhttp.onreadystatechange = function() {
     if (this.readyState == 4) {
       if (this.response && this.response.data)
         document.getElementById("msgs").innerHTML = '<div class="alert alert-success" role="alert">successful delete request, actual delete can take up to 30s <div>';
       else if (this.response)
         document.getElementById("msgs").innerHTML = '<div class="alert alert-failure" role="alert">delete error: '+JSON.stringify(this.response)+'</div>';
       else
         document.getElementById("msgs").innerHTML = '<div class="alert alert-failure" role="alert">delete error: no response to request</div>';
     }
   };

   xhttp.open("DELETE", "{{commands}}/container/"+cName, true);
   xhttp.setRequestHeader('content-type','application/json')
   xhttp.send(JSON.stringify({name:cName}));
 }
</script>
<div class="alert alert-primary" role="alert">
  <button type="button" class="btn btn-default" onclick="location.reload();">
    Retry
  </button>
</div>
{{#each pods as |pod|}}
<div class="alery alert-{{pod.attributes.status}}" role="alert" >
  {{pod.attributes.name}}
  ({{pod.attributes.time}})
  <button type="button" class="btn btn-default btn-sm" onclick="deleteContainer('{{pod.attributes.name}}');">
    Delete
  </button>
</div>
{{/each}}
