title: Outdated Image
---
<h1>Outdated image</h1>
<p>You already have a container running for {{podName}}, but its replacements are different (checksum:{{runningChecksum}}) from the one requested (checksum:{{currentChecksum}}).</p>

<div id="msgs">
  {{{msgs}}}
</div>

<script type="text/javascript">
 function deleteContainer(cName) {
   const xhttp = new XMLHttpRequest();
   xhttp.responseType = 'json'
   xhttp.onreadystatechange = function() {
     if (this.readyState == 4) {
       if (this.response && this.response.data)
         document.getElementById("msgs").innerHTML = '<div class="alert alert-success" role="alert">successful delete request, actual delete can take up to 30s <div>';
       else if (this.response)
         document.getElementById("msgs").innerHTML = '<div class="alert alert-failure" role="alert">delete error: '+JSON.stringify(this.response)+'</div>';
       else
         document.getElementById("msgs").innerHTML = '<div class="alert alert-failure" role="alert">delete error: no response to request</div>';
     }
   };

   xhttp.open("DELETE", "{{commands}}/container/"+cName, true);
   xhttp.setRequestHeader('content-type','application/json')
   xhttp.send(JSON.stringify({name:cName}));
 }
</script>

<p>You can either <a href="{{target}}"><button type="button" class="btn btn-default btn-sm">
  Continue
</button></a>
using the running container, or
<button type="button" class="btn btn-default btn-sm" onclick="deleteContainer('{{podName}}');">
  Stop
</button>
the old container and   <button type="button" class="btn btn-default btn-sm" onclick="location.reload();">
  retry
</button> to start a new one.
